.manager_dashboard_main_container {
    background: black;
    min-height: 100vh;
    position: relative;
}
.manager_navbar_nav {
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(to top, rgb(17, 17, 61), rgb(11, 11, 66)); */
    background: rgb(13, 13, 13);
    color: white;
    align-items: center;
    padding: 10px 40px;
    position: relative;
    width: 100%;
    height: 60px;
}
.manager_navbar_nav > div > p {
    margin: 0;
    font-size: 24px;
    text-transform: capitalize;
    cursor: pointer;
}

.manager_navbar_nav_desktop_view_links {
    display: flex;
    gap: 60px;
}
.manager_navbar_nav_desktop_view_links > p {
    margin: 0;
    font-size: 16px !important;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    padding: 0 5px;
    cursor: pointer;
}
.manager_navbar_nav_desktop_view_links > p:hover {
    border-top: 3px solid rgb(132, 0, 255);
    border-bottom: 3px solid rgb(132, 0, 255);
}
.manager_navbar_nav_desktop_view_links_active {
    border-top: 3px solid rgb(132, 0, 255) !important;
    border-bottom: 3px solid rgb(132, 0, 255) !important;
}
.manager_navbar_nav_mobile_view_links {
    display: none;
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0, 0.265);
    backdrop-filter: blur(3px);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
}

.manager_navbar_nav_mobile_view_links_show {
    display: flex;
}

.manager_navbar_nav_mobile_view_links > div {
    width: 80vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(6, 6, 55), rgb(0, 32, 61));
    color: black;
    position: relative;
    animation: showMenu 0.2s linear 0s forwards normal running;
}
@keyframes showMenu {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.manager_navbar_nav_mobile_view_links > div > div > section {
    height: 70px;
    width: 99.7%;
    display: flex;
    overflow-y: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 34px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
}
.manager_navbar_nav_mobile_view_links > div > div > section > span:last-child {
    width: 30vw;
    height: 70px;
    color: gray;
    font-weight: bolder;
    transform: translateX(-10%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.manager_navbar_nav_mobile_view_links > div > div > section > span:last-child > img {
    width: 100%;
}
.manager_navbar_nav_mobile_view_links > div > div > section > span:first-child {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    transform: translateX(0);
    position: relative;
}
.manager_navbar_nav_mobile_view_links > div > div > section > span:first-child > .close_mobile_menu_icon {
    transform: translateX(-50%);
}
.manager_navbar_nav_mobile_view_links > div > div > section > span:first-child::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(6, 6, 55);
    bottom: 0;
    top: 0;
    z-index: -9999999;
    transform: rotate(45deg) translateX(-40px) translateY(42px);
}
.manager_navbar_nav_mobile_view_links_container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
}
.manager_navbar_nav_mobile_view_links_container > p {
    margin: 0;
    height: 40px !important;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 5vw;
    text-align: center;
    cursor: pointer;
}
.manager_navbar_nav_mobile_view_links_container > p:hover {
    text-decoration: underline;
}
.manager_navbar_nav_mobile_view_links_footer {
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(to right, rgb(6, 6, 55), rgb(0, 32, 61));
}
.manager_navbar_nav_mobile_view_links_footer_side_line {
    width: 6px;
    height: 70%;
    border-radius: 10px;
    background: blue;
    transition: all 0.2s ease-in-out;
    z-index: 9999999;
}

.manager_navbar_nav_mobile_view_links_footer_details {
    color: white;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}
.manager_navbar_nav_mobile_view_links_footer:hover > .manager_navbar_nav_mobile_view_links_footer_side_line {
    margin-left: 5px;
}
.manager_navbar_nav_mobile_view_links_footer_details > div:first-child {
    color: rgb(0, 145, 255);
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
}
.manager_navbar_nav_mobile_view_links_footer_details > div:last-child {
    font-size: 16px;
    color: rgb(180, 178, 178);
}
.manager_navbar_nav_mobile_view_open_btn {
    display: none;
}

/* test footer navigationbar */
.footer_navigationbar_mobile_view {
    height: 70px;
    /* background: #1d1f24; */
    background: rgb(13, 13, 13);
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_navigationbar_mobile_view > div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    color: white;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}
.footer_navigationbar_mobile_view_center_icon {
    width: 45px !important;
    height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px !important;
    color: white;
}
.footer_navigationbar_mobile_view_active {
    background: rgba(0, 0, 0, 0.528) !important;
    height: 50px !important;
    width: 100px !important;
    border-radius: 50px !important;
    color: rgba(29, 210, 1, 0.912) !important;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px !important;
}
.footer_navigationbar_mobile_view_active > span {
    font-size: 14px;
}
@media (width < 790px) {
    .manager_navbar_nav_desktop_view_links {
        display: none;
    }
    .manager_navbar_nav_mobile_view_open_btn {
        display: block;
    }
}
@media (width > 790px) {
    .manager_navbar_nav_mobile_view_links {
        display: none;
    }
}
