/* note model starts here */
.supervisor_note_model_container {
    display: flex;
    justify-content: center;
    position: relative;
}
.note_close_icon {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    right: 0;
    width: 20px;
    font-size: 18px;
}
.supervisor_note_model_container > div {
    width: 80vw;
    background: rgba(255, 0, 0, 0.762);
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.855);
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    font-size: 14px;
}
.supervisor_note_model_container > div > p {
    margin: 0;
}
/* note model ends here */

.supervisor_display_all_operators_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px !important;
    transition: all 0.3s ease-in-out;
    margin: 0 !important;
}
.supervisor_display_all_operators_container_p {
    color: white;
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}
.supervisor_display_all_operators_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
}
.supervisor_display_all_operators_container > div {
    width: 350px;
    height: 100%;
    border: 1px solid rgb(39, 51, 39);
    display: grid;
    grid-template-columns: 80% 20%;
    cursor: pointer;
}
.supervisor_display_all_operators_container > div > div:first-child {
    display: grid;
    grid-template-columns: 20% 80%;
}
.supervisor_display_all_operators_container > div > div:first-child > div:first-child {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.217);
    border: 2px solid black;
    color: white;
}
.supervisor_display_all_operators_container > div > div:first-child > div:last-child {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.supervisor_display_all_operators_container > div > div:first-child > div:last-child > p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    height: 100%;
    padding: 0 5px;
    border: 2px solid black;
    background: rgba(128, 128, 128, 0.217);
}
.supervisor_display_all_operators_container > div > div:last-child {
    display: flex;
    flex-direction: column;
}
.supervisor_display_all_operators_container > div > div:last-child > div {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.supervisor_display_all_operators_container > div > div:last-child > div:first-child {
    background: rgba(128, 128, 128, 0.217);
    color: white;
    border: 2px solid black;
}
.supervisor_display_all_operators_container > div > div:last-child > div:last-child {
    background: rgba(128, 128, 128, 0.217);
    color: white;
    border: 2px solid black;
}
/* responsive graph code starts here */
.center_the_graph_container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.trade_lightweight_graph_container {
    width: 100%;
}
.tradeview_graph {
    height: 90vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* responsive graph code ends here */
/* change password section starts here */
.supervisor_change_password_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.supervisor_change_password_section > p:first-child {
    color: rgb(218, 218, 218);
    font-size: 24px;
    margin-bottom: 30px;
}
.supervisor_change_password_section > section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.supervisor_change_password_section > section > div > input {
    width: 100%;
    height: 45px;
    border-radius: 50px;
    padding: 0 20px;
    background: rgb(26, 27, 26);
    color: white;
    border: none;
    box-shadow: 0 0 2px rgb(139, 139, 139);
    border: 1px solid black;
}
.supervisor_change_password_section > section > div > input:focus {
    outline: none;
    border: 1px solid rgb(109, 109, 109);
}
.supervisor_change_password_section > section > div > label {
    color: rgb(225, 225, 225);
    padding-left: 15px;
}
.supervisor_change_password_section > section > div:last-child {
    display: flex;
    justify-content: center;
}
.supervisor_change_password_section > section > div:last-child > button {
    width: 60%;
    padding: 10px 5px;
    border-radius: 50px;
    background: rgb(26, 27, 26);
    color: white;
    border: none;
    background: rgba(0, 128, 0, 0.823);
}
/* change password section ends here */
/* digital graph style section starts here */
.digital_meter_data_view_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.digital_meter_data_view_container > div {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px;
    flex-wrap: wrap;
}
.digital_meter_data_view_container > div > div {
    border: 2px solid gray;
    border-radius: 20px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    width: 350px;
    cursor: pointer;
    position: relative;
    overflow-y: hidden;
}
/* digital graph style section ends here */
@media (max-width: 800px) {
    .trade_lightweight_graph_container {
        width: 100%;
    }
    .supervisor_note_model_container > div {
        font-size: 12px;
    }
}
