.users_main_container {
    display: grid;
    grid-template-rows: auto 95vh;
    background-color: rgb(25, 30, 49);
}

/* SmallGraph style starts here */
.users_small_graphs_primary_container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.users_small_graphs_secondary_container {
    width: 480px;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.372);
    position: relative;
}
.users_graphs_topic_name {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: center;
}
.users_graphs_topic_name > p {
    margin: 0;
    font-size: 14px;
    color: purple;
}
.users_graphs_view_edit_icon_container {
    position: absolute;
    max-width: min-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
}
.users_graphs_view_edit_icon_container > div {
    padding: 3px 5px;
    background: rgba(207, 207, 248, 0.385);
    cursor: pointer;
}

/* SmallGraph style ends here */
