.speedometer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; /* Ensuring background is black */
    padding: 20px;
}

.speedometer-text {
    color: white; /* Adjust text color as needed */
    text-align: center;
}

.km {
    font-size: 2rem;
    font-weight: bold;
}

.unit {
    font-size: 1rem;
}
.gauge_text_red {
    color: red; /* Red for speed below 300 */
}

.gauge_text_green {
    color: green; /* Green for speed above 300 */
}
